In [2]:
## Project 3, Unit 3
#Data Analysis Project
#For this dataset, you will need to use:

#Data wrangling and cleaning

#Renaming variables

#Filtering data

#Data aggregation

#Data Visualization techniques

#Descriptive statistics

#Detailed descriptions of everything in your dataset â€“ look up how to add markdown to your notebook

In [3]:
#importing file from local drive

In [4]:
from google.colab import files
uploaded = files.upload()

Saving NYPD_Arrest_Data__Year_to_Date_.csv to NYPD_Arrest_Data__Year_to_Date_.csv

In [5]:
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uploaded['NYPD_Arrest_Data__Year_to_Date_.csv']))

In [6]:
#importing needed libraries

In [7]:
import numpy as np

import seaborn as sns

import matplotlib.pyplot as plt

%matplotlib inline

In [8]:
#Undertanding and reviewing the dataset

In [9]:
df.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,238013474,12/18/2021,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,Q,105,97,18-24,M,BLACK,1057636,203954,40.726187,-73.735234,POINT (-73.73523390399998 40.72618713000002)
1,236943583,11/25/2021,263.0,"ARSON 2,3,4",114.0,ARSON,PL 1501500,F,K,69,71,25-44,M,BLACK,1014340,171320,40.636868,-73.891586,POINT (-73.89158591899997 40.63686750900007)
2,234938876,10/14/2021,594.0,OBSCENITY 1,116.0,SEX CRIMES,PL 2631100,F,K,61,0,25-44,M,WHITE,995244,155739,40.594145,-73.960415,POINT (-73.96041495199995 40.59414516900005)
3,234788259,10/11/2021,263.0,"ARSON 2,3,4",114.0,ARSON,PL 1501001,F,B,42,71,18-24,M,BLACK,1009058,239616,40.824340,-73.910365,POINT (-73.91036538099996 40.82433953100008)
4,234188790,09/28/2021,578.0,NaN,NaN,NaN,PL 2223001,M,B,44,0,25-44,M,BLACK,1005169,246667,40.843703,-73.924395,POINT (-73.92439508899997 40.84370255600004)

In [10]:
df.shape

(155507, 19)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155507 entries, 0 to 155506
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ARREST_KEY                155507 non-null  int64
 1   ARREST_DATE               155507 non-null  object
 2   PD_CD                     155478 non-null  float64
 3   PD_DESC                   155404 non-null  object
 4   KY_CD                     155404 non-null  float64
 5   OFNS_DESC                 155404 non-null  object
 6   LAW_CODE                  155507 non-null  object
 7   LAW_CAT_CD                154114 non-null  object
 8   ARREST_BORO               155507 non-null  object
 9   ARREST_PRECINCT           155507 non-null  int64
 10  JURISDICTION_CODE         155507 non-null  int64
 11  AGE_GROUP                 155507 non-null  object
 12  PERP_SEX                  155507 non-null  object
 13  PERP_RACE                 155507 non-null  object
 14  X_COORD_CD                155507 non-null  int64
 15  Y_COORD_CD                155507 non-null  int64
 16  Latitude                  155507 non-null  float64
 17  Longitude                 155507 non-null  float64
 18  New Georeferenced Column  155507 non-null  object
dtypes: float64(4), int64(5), object(10)
memory usage: 22.5+ MB

In [13]:
#dropping unwanted columns

In [14]:
df.drop(df.columns[[2, 3, 4, 14, 15, 16, 17, 18]], axis = 1, inplace= True )

In [15]:
#Checking Columns

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155507 entries, 0 to 155506
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ARREST_KEY         155507 non-null  int64
 1   ARREST_DATE        155507 non-null  object
 2   OFNS_DESC          155404 non-null  object
 3   LAW_CODE           155507 non-null  object
 4   LAW_CAT_CD         154114 non-null  object
 5   ARREST_BORO        155507 non-null  object
 6   ARREST_PRECINCT    155507 non-null  int64
 7   JURISDICTION_CODE  155507 non-null  int64
 8   AGE_GROUP          155507 non-null  object
 9   PERP_SEX           155507 non-null  object
 10  PERP_RACE          155507 non-null  object
dtypes: int64(3), object(8)
memory usage: 13.1+ MB

In [17]:
#rename columns

In [18]:
df.rename(columns = {'OFNS_DESC': 'OFFENSE','PERP_SEX': 'SEX', 'PERP_RACE': 'RACE'}, inplace = True)

In [19]:
df.head(1)

,ARREST_KEY,ARREST_DATE,OFFENSE,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,SEX,RACE
0,238013474,12/18/2021,RAPE,PL 1303501,F,Q,105,97,18-24,M,BLACK

In [20]:
#add month column

In [21]:
df['month'] = pd.DatetimeIndex(df['ARREST_DATE']).month

In [22]:
df.head(1)

,ARREST_KEY,ARREST_DATE,OFFENSE,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,SEX,RACE,month
0,238013474,12/18/2021,RAPE,PL 1303501,F,Q,105,97,18-24,M,BLACK,12

In [25]:
df.rename(columns = {'month': 'MONTH'}, inplace = True)

In [23]:
#change value to name of month

In [26]:
df.loc[ df['MONTH'] == 1, 'MONTH'] = 'JAN'
df.loc[ df['MONTH'] == 2, 'MONTH'] = 'FEB'
df.loc[ df['MONTH'] == 3, 'MONTH'] = 'MAR'
df.loc[ df['MONTH'] == 4, 'MONTH'] = 'APR'
df.loc[ df['MONTH'] == 5, 'MONTH'] = 'MAY'
df.loc[ df['MONTH'] == 6, 'MONTH'] = 'JUN'
df.loc[ df['MONTH'] == 7, 'MONTH'] = 'JUL'
df.loc[ df['MONTH'] == 8, 'MONTH'] = 'AUG'
df.loc[ df['MONTH'] == 9, 'MONTH'] = 'SEPT'
df.loc[ df['MONTH'] == 10, 'MONTH'] = 'OCT'
df.loc[ df['MONTH'] == 11, 'MONTH'] = 'NOV'
df.loc[ df['MONTH'] == 12, 'MONTH'] = 'DEC'

In [27]:
df.head(1)

,ARREST_KEY,ARREST_DATE,OFFENSE,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,SEX,RACE,MONTH
0,238013474,12/18/2021,RAPE,PL 1303501,F,Q,105,97,18-24,M,BLACK,DEC

In [28]:
#identifying any null / missing values

In [29]:
df.isnull().sum()

ARREST_KEY              0
ARREST_DATE             0
OFFENSE               103
LAW_CODE                0
LAW_CAT_CD           1393
ARREST_BORO             0
ARREST_PRECINCT         0
JURISDICTION_CODE       0
AGE_GROUP               0
SEX                     0
RACE                    0
MONTH                   0
dtype: int64

In [30]:
#drop null values

In [31]:
df1 = df.dropna()

In [33]:
df1.isnull().sum()

ARREST_KEY           0
ARREST_DATE          0
OFFENSE              0
LAW_CODE             0
LAW_CAT_CD           0
ARREST_BORO          0
ARREST_PRECINCT      0
JURISDICTION_CODE    0
AGE_GROUP            0
SEX                  0
RACE                 0
MONTH                0
dtype: int64

In [34]:
#what offenses took place in the bronx for the month of dec?

In [43]:
df_bx= df1[df1['MONTH']== 'DEC']

In [44]:
df_bx.head(2)

,ARREST_KEY,ARREST_DATE,OFFENSE,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,SEX,RACE,MONTH
0,238013474,12/18/2021,RAPE,PL 1303501,F,Q,105,97,18-24,M,BLACK,DEC
24,238275598,12/24/2021,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,18,0,25-44,M,BLACK,DEC

In [53]:
df_bx1= df_bx[df_bx['ARREST_BORO'] == 'B']

In [56]:
df_bx1['OFFENSE'].count()

2695

In [58]:
#breaking down the type of offenses that took place.

In [60]:
df_bx1.groupby(['OFFENSE'])['ARREST_KEY'].count().sort_values(ascending=False)

OFFENSE
ASSAULT 3 & RELATED OFFENSES            566
FELONY ASSAULT                          311
PETIT LARCENY                           212
ROBBERY                                 209
CRIMINAL MISCHIEF & RELATED OF          174
DANGEROUS DRUGS                         162
DANGEROUS WEAPONS                       155
MISCELLANEOUS PENAL LAW                 126
OFFENSES AGAINST PUBLIC ADMINI          124
OFFENSES INVOLVING FRAUD                 77
SEX CRIMES                               76
GRAND LARCENY                            63
OFF. AGNST PUB ORD SENSBLTY &            61
VEHICLE AND TRAFFIC LAWS                 49
POSSESSION OF STOLEN PROPERTY            45
BURGLARY                                 45
INTOXICATED & IMPAIRED DRIVING           32
OTHER OFFENSES RELATED TO THEF           29
GRAND LARCENY OF MOTOR VEHICLE           26
MURDER & NON-NEGL. MANSLAUGHTE           25
OTHER TRAFFIC INFRACTION                 16
FORGERY                                  14
UNAUTHORIZED USE OF A VEHICLE            13
RAPE                                     13
CRIMINAL TRESPASS                         9
OFFENSES AGAINST THE PERSON               8
NYS LAWS-UNCLASSIFIED FELONY              8
INTOXICATED/IMPAIRED DRIVING              7
GAMBLING                                  6
OTHER STATE LAWS (NON PENAL LA            5
FRAUDS                                    4
KIDNAPPING & RELATED OFFENSES             3
ANTICIPATORY OFFENSES                     3
OTHER STATE LAWS                          3
THEFT OF SERVICES                         2
PROSTITUTION & RELATED OFFENSES           2
BURGLAR'S TOOLS                           2
ARSON                                     1
OTHER STATE LAWS (NON PENAL LAW)          1
OFFENSES RELATED TO CHILDREN              1
OFFENSES AGAINST PUBLIC SAFETY            1
AGRICULTURE & MRKTS LAW-UNCLASSIFIED      1
ALCOHOLIC BEVERAGE CONTROL LAW            1
HARRASSMENT 2                             1
THEFT-FRAUD                               1
ENDAN WELFARE INCOMP                      1
ADMINISTRATIVE CODE                       1
Name: ARREST_KEY, dtype: int64

In [61]:
#How does this compare to Jun, the start of summer?

In [65]:
df_bx_jun= df1[(df1['MONTH']== 'JUN') & (df1['ARREST_BORO']== 'B')]

In [66]:
df_bx_jun['OFFENSE'].count()

2644

In [67]:
df_bx_jun.groupby(['OFFENSE'])['ARREST_KEY'].count().sort_values(ascending=False)

OFFENSE
ASSAULT 3 & RELATED OFFENSES        568
FELONY ASSAULT                      321
DANGEROUS DRUGS                     225
CRIMINAL MISCHIEF & RELATED OF      173
ROBBERY                             147
PETIT LARCENY                       132
OFFENSES AGAINST PUBLIC ADMINI      118
MISCELLANEOUS PENAL LAW             110
DANGEROUS WEAPONS                   110
OFFENSES INVOLVING FRAUD             90
GRAND LARCENY                        81
VEHICLE AND TRAFFIC LAWS             65
OFF. AGNST PUB ORD SENSBLTY &        63
FORGERY                              62
MURDER & NON-NEGL. MANSLAUGHTE       60
SEX CRIMES                           54
BURGLARY                             35
INTOXICATED & IMPAIRED DRIVING       32
POSSESSION OF STOLEN PROPERTY        29
OFFENSES AGAINST THE PERSON          23
OTHER OFFENSES RELATED TO THEF       17
RAPE                                 16
GRAND LARCENY OF MOTOR VEHICLE       15
OTHER TRAFFIC INFRACTION             12
NYS LAWS-UNCLASSIFIED FELONY          9
CRIMINAL TRESPASS                     9
OFFENSES AGAINST PUBLIC SAFETY        9
ALCOHOLIC BEVERAGE CONTROL LAW        8
GAMBLING                              7
FRAUDS                                7
INTOXICATED/IMPAIRED DRIVING          5
UNAUTHORIZED USE OF A VEHICLE         5
OTHER STATE LAWS (NON PENAL LA        4
ARSON                                 4
PROSTITUTION & RELATED OFFENSES       4
OTHER STATE LAWS (NON PENAL LAW)      3
CHILD ABANDONMENT/NON SUPPORT         2
FRAUDULENT ACCOSTING                  2
KIDNAPPING & RELATED OFFENSES         2
BURGLAR'S TOOLS                       2
THEFT OF SERVICES                     2
HARRASSMENT 2                         1
THEFT-FRAUD                           1
Name: ARREST_KEY, dtype: int64

In [ ]:
# Based on the data, PETIT LARCENY and ROBBERY had a higher offense in Dec than in Jun. This would be expected during the holiday months.

In [68]:
#what is the age group and sex for PETIT LARCENY and ROBBERY offenses in all boroughs?

In [69]:
df1.groupby(['AGE_GROUP'])['ARREST_KEY'].count().sort_values(ascending=False)

AGE_GROUP
25-44    87873
45-64    30329
18-24    28741
<18       4799
65+       2269
Name: ARREST_KEY, dtype: int64

In [ ]:
#hold true same hold true in the bronx? Are the majority of crimes commited by those in the age range of 25-44?

In [70]:
df_bx_age = df1[df1['ARREST_BORO'] == 'B']

In [71]:
df_bx_age.groupby(['AGE_GROUP'])['ARREST_KEY'].count().sort_values(ascending=False)

AGE_GROUP
25-44    19242
18-24     6708
45-64     5991
<18       1316
65+        389
Name: ARREST_KEY, dtype: int64

In [75]:
df_bx_age1 = df_bx_age[df_bx_age['AGE_GROUP'] == '25-44']

In [76]:
df_bx_age1.groupby(['OFFENSE'])['ARREST_KEY'].count().sort_values(ascending=False)

OFFENSE
ASSAULT 3 & RELATED OFFENSES            4307
FELONY ASSAULT                          2250
DANGEROUS DRUGS                         1383
CRIMINAL MISCHIEF & RELATED OF          1330
PETIT LARCENY                           1157
OFFENSES AGAINST PUBLIC ADMINI          1060
ROBBERY                                  974
MISCELLANEOUS PENAL LAW                  887
DANGEROUS WEAPONS                        723
OFF. AGNST PUB ORD SENSBLTY &            564
GRAND LARCENY                            533
VEHICLE AND TRAFFIC LAWS                 533
OFFENSES INVOLVING FRAUD                 467
SEX CRIMES                               460
BURGLARY                                 381
INTOXICATED & IMPAIRED DRIVING           273
FORGERY                                  268
OTHER OFFENSES RELATED TO THEF           221
MURDER & NON-NEGL. MANSLAUGHTE           212
POSSESSION OF STOLEN PROPERTY            188
OFFENSES AGAINST THE PERSON              142
GRAND LARCENY OF MOTOR VEHICLE           105
OTHER TRAFFIC INFRACTION                  98
NYS LAWS-UNCLASSIFIED FELONY              92
RAPE                                      87
CRIMINAL TRESPASS                         76
ALCOHOLIC BEVERAGE CONTROL LAW            60
OTHER STATE LAWS (NON PENAL LA            42
INTOXICATED/IMPAIRED DRIVING              39
GAMBLING                                  37
FRAUDS                                    36
UNAUTHORIZED USE OF A VEHICLE             30
ARSON                                     22
BURGLAR'S TOOLS                           22
ANTICIPATORY OFFENSES                     21
PROSTITUTION & RELATED OFFENSES           20
OFFENSES AGAINST PUBLIC SAFETY            18
THEFT OF SERVICES                         18
OTHER STATE LAWS                          15
AGRICULTURE & MRKTS LAW-UNCLASSIFIED      14
KIDNAPPING & RELATED OFFENSES             14
OTHER STATE LAWS (NON PENAL LAW)          12
CHILD ABANDONMENT/NON SUPPORT              8
HOMICIDE-NEGLIGENT,UNCLASSIFIE             8
THEFT-FRAUD                                7
ADMINISTRATIVE CODE                        7
HARRASSMENT 2                              6
ENDAN WELFARE INCOMP                       6
MOVING INFRACTIONS                         3
FRAUDULENT ACCOSTING                       2
OFFENSES RELATED TO CHILDREN               1
HOMICIDE-NEGLIGENT-VEHICLE                 1
ESCAPE 3                                   1
JOSTLING                                   1
Name: ARREST_KEY, dtype: int64

In [77]:
df1['OFFENSE'].count()

154011

In [78]:
df_bx_age['OFFENSE'].count()

33646

In [79]:
#conclusion: We see expected trends with an increase in petite larceny and robbery in the holiday months. Also, we see the majority of crimes commited by those in the age group 25-44. 
#The tops offenses being ASSAULT 3 & RELATED OFFENSES, FELONY ASSAULT, and DANGEROUS DRUGS overall.